Test-Command: cd $AUTOPKGTEST_TMP && pytest-3 --pyargs sphinx_automodapi
Depends: cython3,
         gcc,
         graphviz,
         python3-all-dev,
         python3-pytest,
         python3-setuptools,
         @
