#! /usr/bin/make -f

export PYBUILD_NAME=sphinx-automodapi

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -rf debian/*/usr/lib/python*/dist-packages/apyhtest_eva/

override_dh_auto_test:
	# Test requires installed package
